html {
  font-family: sans-serif;
  font-size: 16pt;
  color: #dddddd;
  background-color: #323232;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 800px;
  background-color: #232323;
  padding: 1em 3em;
  border-radius: 10px;
}

header {
  text-align: center;
}

footer {
  font-size: .5em;
  text-align: center;
  padding: .5em 0;
}

a {
  color: rgb(61, 174, 233);
}
a:visited {
  color: rgb(0, 102, 204);
}

ul#shows-list {
  min-width: 100px;
  padding: 0;
  display: inline-block;
}

li.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3px 0;
  background-color: #404040;
  border-radius: 5px;
  border: 2px solid #666666;
}

li.show > span.delete-show {
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  padding-left: 1em;
}

li.show:hover > span.delete-show {
  opacity: 1;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 1em;
}

table td, table th {
  padding: 2px .75em 2px;
  text-align: left;
}