html {
  font-family: sans-serif;
  font-size: 14pt;
  color: #dddddd;
  background-color: #323232;
  margin: 0;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #232323;
  padding: 1em 2em;
  border-radius: 10px;
  flex-grow: 0;
}

header {
  text-align: center;
}

footer {
  font-size: .7em;
  flex-grow: 1;
  text-align: center;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

a {
  color: rgb(61, 174, 233);
}
a:visited {
  color: rgb(0, 102, 204);
}

ul#shows-list {
  min-width: 100px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

li.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3px 0;
  background-color: #404040;
  border-radius: 5px;
  border: 2px solid #666666;
}

li.show > span.delete-show {
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  padding-left: 1em;
}

li.show:hover > span.delete-show {
  opacity: 1;
}

div.big-container {
  display: flex;
  flex-direction: row;
}

div.big-container > div.container-left {
  flex: 1 0 50%;
}

div.big-container > div.container-right {
  flex: 0 1 50%;
  padding: 5px 5px 5px 2em;
  display: flex;
  flex-direction: column;
}

code {
  background-color: #404040;
  border-radius: 5px;
  padding: 4px;
}

button#post-download {
  align-self: flex-end;
}

div#log-holder {
  margin-top: 2em;
}

ul#log {
  max-height: 300px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 1em;
}

table td, table th {
  padding: 2px .75em 2px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  div.big-container {
    flex-direction: column;
  }

  div.big-container > div.container-right {
    padding: 0;
    margin-top: 2em;
  }

  button#post-download {
    align-self: flex-start;
  }

  li.show > span.delete-show {
    opacity: 1;
  }
}