html {
  margin: 0;
  background-color: #232627;
  font-family: monospace;
  color: #fcfcfc;
  font-size: 1.5em;
}

hr {
  border: none;
  margin: 1em 0;
  height: 1em;
}

p, h1, h2 {
  margin: 0;
}

h1, h2 {
  font-size: inherit;
  font-weight: bold;
}

p.log-line {
  margin: 0;
  margin-left: 1em;
  text-indent: -1em;
}

.error {
  color: red;
}

p.log-line::before {
  content: "> ";
}

#shows-container, #feeds-container {
  padding: 1em 0;
  max-width: 1000px;
}

.show-item, .feed-item {
  width: 100%;
  display: flex;
}

#shows-container input.regex, #feeds-container input.url {
  flex-grow: 1;
}

input[type=text] {
  background: none;
  color: inherit;
  border: 1px solid gray;
  margin: 0 1em 0 0;
  padding: 0 3px;
  font-family: inherit;
  max-width: 300px;
  font-size: 0.9em;
}

button {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.2s;
  text-shadow: 0 0 10px;
  padding: 0;
}
button::before {
  content: "[";
}
button::after {
  content: "]";
}
button:hover {
  color: #1ca350;
}
button:disabled, button:hover:disabled {
  color: gray;
  cursor: inherit;
}
button.delete-button:hover {
  color: red;
}
button#save, button#download {
  color: cyan;
}
button#save:hover, button#download:hover {
  color: #1ca350;
}

.hidden {
  display: none;
}

.loading {
  display: none;
  color: #1ca350;
  font-weight: bold;
}

.glow {
  display: block;
  animation: glow 1s infinite alternate ease-in-out;
}

@keyframes glow {
  to {
    text-shadow: 0 0 10px;
  }
}
